header {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100vw;
}

.header-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0  8px 0;
}

.header-img {
    display: flex;
    align-items: center;

    img {
        width: 4em;
        margin: 16px;
    }
}

.nav-links {
    color: white;
    text-decoration: none;
    margin-right: 48px;

    a {
        margin: 0 30px 0 30px;
        font-size: 18px;
    }
}