.letter-color-yellow-animated {
    animation: changeColorYellow 4s ease-in-out infinite;
}

.letter-color-yellow-animated-inverted {
    animation: changeColorYellowInverted 4s ease-in-out infinite;
}

.big-btn {
    font-size: 1.2em;
    text-decoration: none;
    color: #f4a900;
    padding: 24px 100px 24px 100px;
    border: 2px solid #f4a900;
    margin-top: 16px;
    transition: all 155ms ease-in-out;

    &:hover {
        background-color: #f4a900;
        color: black;
        transition: all 155ms ease-in-out;
    }
}

.title-container {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100vh;
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.title-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.title-text-container {
    display: flex;
    margin: 48px 48px 48px 0;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.title-text-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    width: 50%;

    h1 {
        font-size: 64px;
    }
}

@keyframes changeColorYellow {
    0% {
        color: #f4a900;
    }

    10% {
        text-shadow: -1px 1px 0 #f4a900,
            1px 1px 0 #f4a900,
            1px -1px 0 #f4a900,
            -1px -1px 0 #f4a900;
        color: black;
    }

    90% {
        text-shadow: -1px 1px 0 #f4a900,
            1px 1px 0 #f4a900,
            1px -1px 0 #f4a900,
            -1px -1px 0 #f4a900;
        color: black;
    }

    100% {
        color: #f4a900
    }
}

@keyframes changeColorYellowInverted {
    0% {
        text-shadow: -1px 1px 0 #f4a900,
            1px 1px 0 #f4a900,
            1px -1px 0 #f4a900,
            -1px -1px 0 #f4a900;
        color: black;
    }

    10% {
        color: #f4a900;
        text-shadow: none;
    }

    90% {
        color: #f4a900;
        text-shadow: none;
    }

    95% {
        text-shadow: -1px 1px 0 #f4a900,
            1px 1px 0 #f4a900,
            1px -1px 0 #f4a900,
            -1px -1px 0 #f4a900;
        color: black;
    }

    96% {
        color: #f4a900;
        text-shadow: none;
    }

    100% {
        text-shadow: -1px 1px 0 #f4a900,
            1px 1px 0 #f4a900,
            1px -1px 0 #f4a900,
            -1px -1px 0 #f4a900;
        color: black;
    }
}

.title-text-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;

    img {
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 100%;
        margin: 72px;
        animation: ImgPulse 5s ease infinite;
    }
}

@keyframes ImgPulse {
    0% {
        box-shadow: 0px 0px 20px 1px #f4a900;
    }

    70% {
        box-shadow: 0px 0px 20px 1px #000000;
    }

    100% {
        box-shadow: 0px 0px 20px 1px #f4a900;
    }
}

.arrow-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-top: 100px;
    border-radius: 100%;
    border: 1px solid white;

    &:hover {
        animation: arrowDownDrop 1.2s ease-in-out infinite;
    }

    img {
        width: 16px;
    }
    
}

@keyframes arrowDownDrop {
    0% {
        transform: translateY(0px);
        border-bottom: 1px solid #f4a900;
    }
    20% {
        transform: translateY(-2px);
        border-left: 1px solid #f4a900;
        border-right: 1px solid  #f4a900;
    }
    40% {
        transform: translateY(2px);
        border-right: 1px solid #f4a900;
    }
    60% {
        transform: translateY(-2px);
        border-top: 1px solid #f4a900;
    }
    80% {
        transform: translateY(2px);
        border-left: 1px solid #f4a900;
        border-right: 1px solid  #f4a900;
    }
    100% {
        transform: translateY(0px);
        border-bottom: 1px solid #f4a900;
    }
}