<div class="title-container">
    <div class="title-text-container">
        <div class="title-text-container-left">
            <h1>
                Hi,<br>
                I'm <span class="letter-color-yellow-animated-inverted">Jürgen</span> Rogozin<br>
                Front End develop<span class="letter-color-yellow-animated">e</span>r
            </h1>
            <a class="big-btn" href="">Contact me</a>
        </div>
        <div class="title-text-container-right">
            <img src="assets/img/photo-juergen.jpg">
        </div>
    </div>
</div>